* {
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
}

.click {
    color: #000000;
}
.click:hover {
    text-shadow: 1px 1px rgba(255, 0, 46, 1);
}

.lobster {
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px rgba(255, 0, 46, 1);
}

.linea{
    color: black;
    width: 23px;
    padding-left: 659px;
    border: 3px solid #000000;

}

.cursiva {
    font-family: 'Lobster', cursive;
}

.lobster-sub {
    font-family: 'Lobster', cursive;
    padding-left: 100px;
    padding-top: 0px;
}



.bg-c-primary {
    background-color: rgba(216, 172, 172, 1);
}

.c-primary {
    background-color: rgba(216, 172, 172, 1);
}

.portada {
    padding-top: 100px;
    padding-bottom: 100px;
}

.espacio {
    padding-top: 100px;
    padding-bottom: 100px;

}

.espaciofooter {
    padding-bottom: 200px;
}

.lorem {
    text-align: center;
    width: 200px;

}

.ancho {
    padding-top: 20px;
    padding-bottom: 200px;
}


.textomapa {
    padding-left: 50px;
    padding-right: 200px;
    padding-bottom: 200px;
}


.circulo {
    width: 250px;
    height: 250px;
    background-color: rgba(215, 124, 124, 0.6);
    padding-top: 70px;
    
}




/*----- PAGINA INDEX ------ */


.index-bg {
    background: linear-gradient(213deg, rgba(218, 171, 171, 1) 24%, rgba(173, 69, 69, 1) 100%);
}



/* ------- PAGINA MENÚ --------- */

.menu-bg {

    background: linear-gradient(164deg, rgba(218, 171, 171, 1) 24%, rgba(173, 69, 69, 1) 100%);
}



/* ------ PAGINA CONTACTO -------- */

.contacto-bg {

    background: linear-gradient(180deg, rgba(218, 171, 171, 1) 24%, rgba(173, 69, 69, 1) 100%);
}




/* ------ PAGINA PROMOS ---------- */

.promos-bg {

    background: linear-gradient(270deg, rgba(218, 171, 171, 1) 24%, rgba(173, 69, 69, 1) 100%);

}




/* ------- PAGINA LOCALES ----------  */

.locales-bg {

    background: linear-gradient(164deg, rgba(218, 171, 171, 1) 24%, rgba(173, 69, 69, 1) 100%);
}

