* {
    font-family: 'Oswald', sans-serif;
}

li {
    list-style: none;
}

.bg-c-primary {
    background-color: rgba(216, 172, 172, 1);
}

.c-primary {
    background-color: rgba(216, 172, 172, 1);
}
